# Sui Package and Module Configuration
VITE_PACKAGE_ID=
VITE_UPGRADED_PACKAGE_ID=
VITE_MODULE_NAME=poc

# Admin Configuration (for testing/local development)
VITE_ADMIN_ADDRESS=
VITE_ADMIN_CAP_ID=

# Common Sui Objects
VITE_CLOCK_ID=0x6
